.content {
  background-color: whitesmoke;
}

.total-users,
.total-posts {
  color: $blue;
  font-weight: 500;
  font-size: 36px;
  margin: 15px 0;
}

.grid-charts {
  padding: 20px 60px 60px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 280px 1fr 1fr;
  gap: 0px 0px;
}

.total-chart {
  margin: 20px;
  grid-area: 1 / 1 / 2 / 3;
}
.area-chart {
  margin: 20px;
  grid-area: 2 / 1 / 3 / 3;
}
.line-chart {
  margin: 20px;
  grid-area: 3 / 1 / 4 / 2;
}
.bar-chart {
  margin: 20px;
  grid-area: 3 / 2 / 4 / 3;
}
