$light-gray: rgb(204, 204, 204);

.header {
  box-shadow: 2px 1px 6px -3px #c7c7c7;
  padding: 0 40px;

  &--center {
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }

  .field {
    padding-left: 15px;
    outline: 0;
    border-width: 0 0 0;
    border-color: $light-gray;

    &::placeholder {
      color: $light-gray;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}

.dropdown {
  position: absolute;
  right: 60px;
  top: 58px;
  z-index: 1;
}

.menu-option {
  color: #494f7d;
  padding: 10px 15px;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.menu-header {
  border-bottom: 1px solid $normal-color;
}

.dropdown-arrow {
  position: absolute;
  right: 65px;
  top: 46px;
  color: #e6e4e4;
}
