$white: #fff;
$green: #2ed47a;
$gray: rgb(180, 178, 178);
$dark-gray: rgb(107, 107, 107);
$light-gray: rgb(245, 245, 245);
$yellow: #ffb946;
$dark-blue: #334d6e;
$light-blue: #eff4ff;
$blue: #109cf1;
$border-radius-8: 8px;
$border-color: $gray;
$cursor-pointer: pointer;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.container-auth {
  background-color: $light-gray;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: $cursor-pointer;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.width-400 {
  width: 400px;
}

.fit-content {
  width: fit-content;
}

.h2__title {
  padding: 20px 20px;
  text-align: center;
  color: $dark-blue;
}

.ft-weight-500 {
  font-weight: 500;
}

.link {
  text-decoration: none;
  &--color-blue {
    color: $blue;
  }
  &--color-blue:hover {
    color: $dark-blue;
  }
}

.color-gray {
  color: $gray;
}
.color-darkgray {
  color: $dark-gray;
}

.color-black {
  color: black;
}
.color-blue {
  color: $blue;
}

.p-20 {
  padding: 20px;
}

.pl-5 {
  padding-left: 5px;
}
.mn-auto {
  margin: auto;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-50 {
  margin-top: 50px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.mtb-20 {
  margin: 20px 0;
}
.mtb-10 {
  margin: 10px 0;
}
