.h2__title-border {
  border-bottom: 1px solid rgb(194, 194, 194);
}

.btn-add-img {
  position: relative;
  top: -29px;
  left: -42px;
}

.ebs-button--ghost.ebs-button__wrapper {
  background-color: white;
  border-color: #afafaf;
  color: #494f7d;
}
.MuiSvgIcon-root .icon-ft-17 {
  font-size: 17px;
}
