* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: #fff;
$green: #2ed47a;
$gray: rgb(180, 178, 178);
$light-gray: rgb(243, 243, 243);
$yellow: #ffb946;
$dark-blue: #334d6e;
$blue: #109cf1;
$radius: 8px;

.container {
  background-image: linear-gradient(to right, $green, $yellow);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.box {
  background-color: $white;
  width: 400px;
  padding: 30px;
  border-radius: 13px;
  margin: auto;
  margin-top: 40px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: $dark-blue;
}

.form__field {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  outline: 0;
  border: 0px solid $gray;
  background-color: $light-gray;
}

.form__field:focus {
  border: 1px solid $gray;
  background-color: $white;
  box-shadow: 0 0 5pt 2pt #e9e9e9;
}
.form__field::placeholder {
  font-size: 14px;
  padding: 10px;
  font-style: italic;
}

.btn {
  padding: 10px;
  margin: 35px 0;
  border-radius: $radius;
  border: 0;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn:hover {
  background-color: $dark-blue;
}

.link {
  text-decoration: none;
  color: $blue;
}
.link:hover {
  color: $dark-blue;
}

.center {
  text-align: center;
}
