$white: #fff;
$gray: rgb(180, 178, 178);
$light-gray: rgb(245, 245, 245);
$dark-blue: #334d6e;
$light-blue: #eff4ff;
$blue: #109cf1;
$border-radius: 8px;
$border-color: $gray;

.h2-title {
  text-align: center;
  margin-bottom: 30px;
  color: $dark-blue;
}

.form__field {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border-radius: $border-radius;
  outline: 0;
  border: 1px solid transparent;
  background-color: $light-blue;
}

.form__field:focus {
  border-color: $border-color;
  background-color: $light-blue;
}

.form__field::placeholder {
  font-size: 14px;
  font-style: italic;
}

.btn {
  padding: 10px;
  margin: 35px 0;
  border-radius: $border-radius;
  border: 0;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:hover {
    background-color: $dark-blue;
  }
}

.link {
  text-decoration: none;
  color: $blue;
}
.link:hover {
  color: $dark-blue;
}

input[type="radio"] {
  margin: 10px 5px 10px 0px;
}

