* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

$white: #fff;
$green: #2ed47a;
$gray: rgb(180, 178, 178);
$light-gray: rgb(243, 243, 243);
$yellow: #ffb946;
$dark-blue: #334d6e;
$blue: #109cf1;
$border-radius: 8px;
$border-color: $gray;

.container {
  background-image: linear-gradient(to top right, $green, $yellow);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.box {
  background-color: $white;
  width: 400px;
  padding: 30px;
  border-radius: 13px;
  margin: auto;
  margin-top: 40px;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.h2-title {
  text-align: center;
  margin-bottom: 30px;
  color: $dark-blue;
}

.form__field {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border-radius: $border-radius;
  outline: 0;
  border: 1px solid transparent;
  background-color: $light-gray;
}

.form__field:focus {
  border-color: $border-color;
  background-color: $white;
  box-shadow: 0 0 5px 2px #e9e9e9;
}

.form__field::placeholder {
  font-size: 14px;
  font-style: italic;
}

.btn {
  padding: 10px;
  margin: 35px 0;
  border-radius: $border-radius;
  border: 0;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:hover {
    background-color: $dark-blue;
  }
}

.link {
  text-decoration: none;
  color: $blue;
}
.link:hover {
  color: $dark-blue;
}

.text-center {
  text-align: center;
}

input[type="radio"] {
  margin: 10px 5px 10px 0px;
}

.mb-10 {
  margin-bottom: 10px;
}
