// Main colors
$primary-color: #109cf1 !default;
$success-color: #2ac952 !default;
$info-color: #3bc0f9 !default;
$warning-color: #ffd83d !default;
$danger-color: #ff3a30 !default;
$normal-color: #a5a5a5 !default;

$primary-600: #0f81c7 !default; // main one
