.d-grid {
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-rows: 68px 1fr 50px;
  gap: 0px 0px;
  height: 100%;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
}
.sidebar {
  grid-area: 1 / 1 / 4 / 2;
}
.content {
  grid-area: 2 / 2 / 3 / 3;
}
.footer {
  grid-area: 3 / 2 / 4 / 3;
}
