$light-gray: rgb(204, 204, 204);

.header {
  justify-content: space-between;
  align-items: center;
  height: 68px;
  box-shadow: 2px 1px 6px -3px #c7c7c7;
  padding: 0 40px;
}

.field {
  padding-left: 15px;
  outline: 0;
  border-width: 0 0 0;
  border-color: $light-gray;
  &::placeholder {
    color: $light-gray;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
